
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "VFSans Regular";
    src: url("https://db.onlinewebfonts.com/t/0ab05e47b830b7504f4e7cb373fce7ae.eot");
    src: url("https://db.onlinewebfonts.com/t/0ab05e47b830b7504f4e7cb373fce7ae.eot?#iefix") format("embedded-opentype"),
         url("https://db.onlinewebfonts.com/t/0ab05e47b830b7504f4e7cb373fce7ae.woff") format("woff"),
         url("https://db.onlinewebfonts.com/t/0ab05e47b830b7504f4e7cb373fce7ae.woff2") format("woff2"),
         url("https://db.onlinewebfonts.com/t/0ab05e47b830b7504f4e7cb373fce7ae.ttf") format("truetype"),
         url("https://db.onlinewebfonts.com/t/0ab05e47b830b7504f4e7cb373fce7ae.svg#VFSans Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  